BODY.fdu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #5e5c5b;
	left: 2px;
	top: 0px;
	right: 2px;
	bottom: 0px;
	background-color: #d5eac8;
	margin: 0px;
}

TABLE.fdu {
	padding: 0px;
	margin: 0px;
	width: 100%;
	border: 0px;
	spacing: 0px;
	align: center;
}

TD.SombraHorizontal {
	background-color: #838282;
	height: 1px;
}

TD.SombraVertical {
	background-color: #838282;
	width: 1px;
}

TD.FundoCorpo {
	background-color: #FFFFFF;
}

TD.LinhaCabecalhoClara {
	background-color: #D6EBA5;
	height: 3px;
}

TD.LinhaCabecalhoEscura {
	background-color: #A5D3A5;
	height: 5px;
}

TR.FundoBranco {
	background-color: #FFFFFF;
}

.TextoUsuarioLogado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5e5c5b;
}


.TextoLabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5e5c5b;
	font-weight: bold;
}

.TextoRodape {
	font-family: Tahoma, Verdana, Arial;
	font-weight: normal;
	font-size: 9px;
	color: #5A5A5A;
}

.TituloSecao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #39754E;
}

.TituloSistema {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px; 
	color: #39754E;
	font-weight: bold;
}

.SubTituloSistema {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px; 
	color: #39754E;
}

A.MenuLink {
	display: block;
	width: 100%;
	text-align: left;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	color: #000000;
	border: none;
	border: solid 1px #A5D3A5;
	background-color: #A5D3A5;
}

A.menulink:hover {
	border: 1px solid #D6EBA5;
	background-color: #D6EBA5;
	color: #000000;
}


TD.MenuTitulo {
	display: block;
	width: 100%;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	font-family: arial;
	font-size: 14px;
	color: #FFFFFF;
	border: none;
	border: solid 1px #5C7A4A;
	background-color: #5C7A4A;
}



A.MenuLink2 {
	display: block;
	width: 100%;
	text-align: left;
	text-decoration: none;
	font-family: arial;
	font-size: 12px;
	color: #000000;
	border: none;
	border: solid 1px #A5D3A5;
	background-color: #A5D3A5;
}

A.menulink2:hover {
	border: 1px solid #D6EBA5;
	background-color: #D6EBA5;
	color: #000000;
}




HR.fdu {
	width: 620px;
	size: 1px;
	color: #808080;
	border: dashed #808080;
	noshade;
	height: 1px;
}


INPUT.CaixaEdicao{
	height: 20px;
	border: 1px solid #838282;
	font-size: 10px;
}
INPUT.Botao {
	color: #000000;  
	font-size:10px; 
	font-family:verdana; 
	font-weight:bold;
	text-decoration: none;
	border:1px outset #90AB87;   
	background-color: #d5eac8;
   	border-style: 1px solid #838282;
	display: inline;
   	height: 20px;
   	width: 70px;
	margin: 1px;
	cursor:hand
}

INPUT.BotaoMaior {
	color: #000000;  
	font-size:10px; 
	font-family:verdana; 
	font-weight:bold;
	text-decoration: none;
	border:1px outset #90AB87;   
	background-color: #d5eac8;
   	border-style: 1px solid #838282;
	display: inline;
   	height: 20px;
   	width: 110px;
	margin: 1px;
	cursor:hand
}


SELECT {
	border-right: #838282 1px;
	border-top: #838282 1px;
	font-size: 10px;
	border-left: #838282 1px;
	border-bottom: #838282 1px
}

OPTION {
	border-right: #838282 1px;
	border-top: #838282 1px;
	font-size: 10px;
	border-left: #838282 1px;
	border-bottom: #838282 1px
}

TEXTAREA {
	border-right: #838282 1px solid;
	border-top: #838282 1px solid;
	border-left: #838282 1px solid;
	border-bottom: #838282 1px solid
}

.TextoDestaque {
	color: #5E5C5B;
	font-weight: bold;
	font-size: 12px;
}
.TextoComum {
	color: #5E5C5B;
	font-weight: none;
	font-size: 10px;
}
.TextoDestaquePequeno {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #5E5C5B;
	font-weight: bold;
	font-size: 10px;
}
.TextoComumPequeno {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #5E5C5B;
	font-weight: none;
	font-size: 9px;
}

.NoBorder {
	border:none;
}

div.MensagemErro {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	height: 37px;
	color: #AB3838;
	vertical-align: middle;
	padding: 5px;
	margin-left: 5px;
	background-color: #FFDBDB;
	border: 2px solid #EB7878;
}

div.MensagemSucesso {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	height: 37px;
	vertical-align: middle;
	padding: 5px;
	margin-left: 5px;
	color: #144888;
	background: #D8E5ED;
	border: 2px solid #698AB3;
}

div.MensagemContainer {
	width: 400px;
}

div.MensagemContainerLivre {
	width: 100%;
}

img.MensagemAlerta {
	float: left;
}

TABLE.tabelaLogin {border: 1; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; text-align: center; font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #5A5A5A; }
TD.backgroundGreen {background-color: #d5eac8; }


