
/*Tornar a Imagem Responsiva*/
.imagem 
		{
            max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner pai */
            height: auto; /* Mantém a proporção da imagem */
		}
