/*Ajustar Tamanho da Imagem*/
.imagem
		{
            /*width: 90%; /* Ajusta a largura da imagem ao tamanho do contêiner pai */
            height: auto; /* Mantém a proporção da imagem */
            display: block;
			max-width: 100%; /* Ajusta a largura máxima da imagem ao tamanho do contêiner pai */
            margin: 0 auto;
            


        }

