.menu-image img {
    height: 120px; /* Ajuste conforme necessário */
    width: auto;   /* Mantém proporção */
    display: block;
    margin: 0;     /* Remove centralização */
    float: left;   /* Força alinhamento à esquerda */
}


.menu-image {
    position: absolute; /* ou fixed se quiser que acompanhe scroll */
    top: 10px;
    left: 10px;

}

.menu {
    display: flex;           /* Coloca imagem e itens lado a lado */
    align-items: center;     /* Alinha verticalmente */
    background-color: #3a5f0b; /* Cor do menu */
    padding: 10px;
}

.menu-image img {
    height: 60px; /* Ajuste conforme necessário */
    width: auto;
    margin-right: 20px; /* Espaço entre imagem e menu */
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 15px; /* Espaço entre os links */
    margin: 0;
    padding: 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}







