


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
}

nav ul li:hover > a {
    background-color: #555;
}

nav ul li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
}

nav ul li:hover ul.submenu {
    display: block;
}

nav ul li ul.submenu li {
    width: 200px;
    position: relative;
}

nav ul li ul.submenu li a {
    padding: 10px;
    color: #fff;
}

nav ul li ul.submenu li ul.submenu {
    top: 0;
    left: 100%;
}

nav ul li ul.submenu li:hover > ul.submenu {
    display: block;
}

nav ul li ul.submenu li a:hover {
    background-color: #555;
}