/*backgroud da pagina*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding:50;
	height:100%;
	width: 100%;
	margin-bottom:38%;
    /*background-color: #362100;*/
	background-image: url('C:/Users/uni11673/OneDrive - unimedbh/DEFINITIVA/site/_imagem/_conquer/conquer2.jpg');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: bottom; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
	 z-index: -1; /* Garante que o conteúdo do body fique acima da imagem */
}

/* Media query para telas menores */
@media (max-width: 768px) {
    body {
        background-size: auto 100%; /* Ajusta o tamanho da imagem para cobrir a altura em telas menores */
    }
}

/* Media query para telas muito pequenas */
@media (max-width: 480px) {
    body {
        background-size: 100% auto; /* Ajusta o tamanho da imagem para cobrir a largura em telas muito pequenas */
    }
}
/* Exemplo de Media Query para tablets */
@media (min-width: 768px) and (max-width: 1024px){ 
	body
{
    background-size: 100% auto; /* Estilos específicos para telas entre 768px e 1024px de largura */
}
}

/* Exemplo de Media Query para desktops */
@media (min-width: 1025px) {
	body
	{
    background-size: 100% auto;/* Estilos específicos para telas maiores que 1024px de largura */
}
}