.input-field:focus
{
    outline: none;/* Remove a borda padrão do navegador ao focar no campo de entrada */
    border-color: #565a5f; /* Altera a cor da borda ao focar */
    box-shadow: 0 0 5px rgba(14, 80, 155, 0.5); /* Adiciona um efeito de sombra ao focar */
       
}