/* Estilo Base para o Item (apenas para refer칡ncia) */
.item {
    border-left: 5px solid transparent; /* Adiciona uma borda inicial transparente para a cor de aviso */
    transition: border-left 0.3s ease; /* Transi칞칚o suave na mudan칞a de cor */
}
 
/* 游릭 Status: Criado/ Conte칰do Atualizado */
.item.status-ok {
    border-left-color: #28a745; /* Verde */
}

/* 游리 Status: Aten칞칚o / Pr칩ximo da Revis칚o (Ex: nos 칰ltimos 30 dias) */
.item.status-atencao {
    border-left-color: #ffc107; /* Amarelo */
}
 
/* 游댮 Status: Vencido / Revis칚o Obrigat칩ria */
.item.status-vencido {
    border-left-color: #dc3545; /* Vermelho */


}