.menu5 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu5 > li {
    position: relative;
}

.menu5 > li > a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    background-color: #d1d1d1;
}

.menu5 .li {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: #ddd;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
}

.menu5 > li > a:hover {
    background-color: #bbb;
}