.menu3 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu3 > li {
    position: relative;
}

.menu3 > li > a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #567219;
}

.menu3 > li > a:hover {
    background-color: #560000;
}

.menu3 .menu5 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: #ddd;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
}

.menu3 > li:hover .menu5 {
    display: block;
}
