





/* Cores adicionais para tons de cinza */
/* 
Cinza Claro: #D3D3D3
Cinza Prata: #C0C0C0
Cinza Médio: #A9A9A9
Cinza Escuro: #696969
Cinza Ardósia Claro: #778899
Cinza Ardósia Escuro: #2F4F4F
Cinza Fosco: #808080
Cinza Carvão: #36454F
Cinza Chumbo: #43464B
Cinza Pedra: #2C2C2C
*/

