/*backgroud da pagina*/

body {
    font-family: Arial, sans-serif; /*Identifica o tipo de fonte utilizada no corpo da pagina*/
    margin: 0; /**/
    padding:50; /**/
	height:100%; /**/
	width: 100%; /**/
	margin-bottom:38%; /**/
    /*background-color: #362100;*//*Indica a cor de fundo*/
	background-image: url('C:/Users/uni11673/OneDrive - unimedbh/DEFINITIVA/site/_imagem/_conquer/conquer2.jpg'); /*Imagem de fundo*/
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: bottom; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
	 z-index: -1; /* Garante que o conteúdo do body fique acima da imagem */